# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

./front-end/*.pnp
./front-end/*.pnp.js
./front-end.yarn/install-state.gz

# testing
./front-end/coverage

# next.js
./front-end/.next/
./front-end/out/

# production
./front-end/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# vercel
./front-end/vercel

# typescript
*.tsbuildinfo
./front-end/next-env.d.ts
